body{
    padding: 100px;
}
.submit-area{
    
    margin-top: 50px;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transaction-area{
    display: none;
}

.status{
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    color: white;

}

.deposit{
    background-color: #5f4dc8;
}

.withdraw{
    background-color:#f19671;
}

.balance{
    background-color: #f09a11;
}